* {
  box-sizing: border-box;

}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
input.btn, .btn {
    line-height: 1.5em;
}
.carrier input.btn, .btn {
  line-height: inherit;
}

#contact_form form input:not(.btn), 
#contact_form form textarea:not(.btn), 
#contact_form form select:not(.btn)
form.mainbutton input:not(.btn),
.modal_div input:not(.btn) {
    border: 1px solid #ccc;
}
#content_carrier h1 {
  line-height: 1.5em;
}
img {
    max-width: 100%;
    height: auto;
}
#content .steps h2 {
  margin-bottom: 20px;
}
.submenu2 {
    display: none;
}
.accordion2 {
    display: none;
}
#content {
  line-height: 1.5em;
}
#content.page  {
  margin-top: 0;
}
.mob-nav::-webkit-scrollbar {
    width: 0;
}
.mob-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 transparent;
}
.mob-nav::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 0 solid transparent;
}
.accordion2 {
  padding-left: 45px;
}
.submenu2 {
  padding-left: 50px;
}
#FormCall input.i-a:not(.btn) {
width: 230px;
}
@media only screen and (max-width: 1284px) and (min-width: 320px) {
.width923, .container {
    max-width: 100%;
    margin: 0 auto;
    width: auto;
    padding: 0 20px;
}
#topnav .date {
  right: 70px;
  z-index: 9;
}
#topnav .phone {
    float: left;
}
#topnav .top-nav {
	display: none;
}
.mb-hidden {
    display: block;
    li {
      padding: 30px;
      border-bottom: 1px solid #46126d;
    }
    a {
      font-size: 20px;
      color: #46126d;
    }
}

.mob-nav { 
	  background-color: #46126d;
	  position: fixed;
    right: -100%;
    top: 60px;
    bottom: 0;
    width: 360px;
    z-index: 15;
    opacity: 0;
    -webkit-transition: left .4s,opacity .3s;
    transition: left .4s,opacity .3s;
    padding: 30px;
}

.mob-nav.show {
    right: 0;
    opacity: 1;
}
#topnav .mob-nav li {
    display: block;
}
.menu-toggle {
	display: block;
}
.accordion {
  width: 100%;
  max-width: 360px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 20px 20px 20px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 18px;
}

.accordion li .open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordion li.open i.fa-chevron-down.i-d {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
 /* Submenu
 -----------------------------*/
.submenu {
  display: none;
  background: transparent;
  font-size: 16px;
}

.submenu a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  padding-left: 40px;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}

#content .steps .step1, #content .steps .step2, #content .steps .step3 {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}
.steps3 .carrier {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
}
@media only screen and (max-width: 1034px) and (min-width: 320px) {
  .video_col {
    width: 49%;
    margin-bottom: 10px;
  }
  .width980 {
    width: 90%;
    margin: 0 auto;
  }
  .group-item-body {
    display: flex;
    flex-wrap: wrap;
  }
  .group-item-body a {
    width: 33.3333%;
  }
  .gallery .group-item-body .gallery-item {
    float: none;
    width: auto;
  }
  #category {
    flex-wrap: wrap;
  }
  #category .category-item {
    width: 49%;
    margin-bottom:10px
  }
  input.btn, .btn {
    font-size:18px
  }
  .advantages-wrap {
    flex-wrap: wrap;
  }
  .advantages-items {
    width: 100%;
  }
  .advantages-wrap::before, 
  .advantages-items-box::before, 
  .advantages-items-box_inner::before,
  .items-box_after_1::after,
  .items-box_after_2::after,
  .items-box_after_3::after,
  .items-box_after_inner_1::after,
  .items-box_after_inner_2::after,
  .items-box_after_inner_3::after,
  .items-box_after_inner_4::after,
  .items-box_after_inner_5::after {
    display: none;
  }
  .advantages-items-box {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    border: none;
  }
  .advantages-items-box_inner {
    flex-direction: column;
  }
  .advantage-item {
    text-align: center;
  }
  .advantage-pic, .advantage-pic_inner {
    margin-bottom: 20px;
  }

  #content .contact .font_top {
    padding-top: 0;
  }
  #content .contact .font_top, 
  #content .contact .font_bottom, 
  #content .contact .font_center,
  .contacts_carrier .fon1,
  .contacts_carrier .fon2,
  .contacts_carrier .fon3 {
    margin: 0;
    background: #fff;
  }
  #content .contact .schem,
  .contacts_carrier .schem {
    width: 100%;
    float: none;
    border: none;
  }
  #content .contact .font_center {
    padding: 0;
  }
  #content .contact .text,
  .contacts_carrier .text {
    margin-left: 0;
    text-align: center;
    float: none;
    width: 100%;
  }
  .contacts_carrier .text h3 {
    text-align: center;
  }
  #content .contact .text p strong {
    margin-top: 20px;
    display: block;
  }
  #contact_form form {
    width: 90%;
  }
  #contact_form label {
    width: 100%;
    text-align: center;
    display: block;
    float: none;
    line-height: inherit;
  }
  #contact_form form input:not(.btn), 
  #contact_form form textarea:not(.btn), 
  #contact_form form select:not(.btn) {
      padding: 10px 10px;
      font-size: 14px;
      width: 100%;
  }
  .video_carrier {
    padding: 0 20px;
  }
  .contacts_carrier .fon3 {
    padding: 0;
  }
  #content .contact .schem, .contacts_carrier .schem {
    margin-bottom: 20px;
  }
  #content .advantages div.title, .advantages-items-box {
    margin: 0;
  }
}


@media only screen and (max-width: 768px) and (min-width: 320px) {
// Modal
.df {
  margin-bottom: 10px;
}
form.mainbutton p.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form.mainbutton input:not(.btn),
#FormZamer input:not(.btn) {
  width: 100%;
  margin: 0 0 20px 0;
}
form.mainbutton p strong {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}
#FormCall input.ui-timepicker-input,
#FormZamer input.i-f {
    margin: 0;
    padding: 5px 10px;
    font-size: 18px;
    width: 48%;
    border: 1px solid #ccc;
}
#content_carrier .article-item .article-image {
    float: none;
    width: 100%;
    padding: 0;
    border: 1px solid #ccc;
    margin-right: 0;
}
  #content_carrier .article-item .article-title {
  text-align: center;
  display: block;
  }
  #content .steps .step1, #content .steps .step2, #content .steps .step3 {
      float: none;
      width: 90%;
      margin: 0 auto;
  }
  #content .steps .title {
      padding-top: 25px;
  }
  #content .steps .step1 .title, 
  #content .steps .step1 .desc, 
  #content .steps .step2 .title, 
  #content .steps .step2 .desc, 
  #content .steps .step3 .title, 
  #content .steps .step3 .desc {
      margin: auto;
  }
  #content_carrier .article-item {
    padding: 0;
  }
  .mob-nav {
		width: 100%;
	}
  .modal-wrap .wrapper {
    width: 90%;
  }
  .review .review-item .title {
    width: 106%;
  }
	.accordion {
	    width: 100%;
	    max-width: 100%;
	}
  .video_col {
    width:100%;
    margin-bottom: 20px;
  }
  #category .category-item {
    width: 100%;
    margin: 0 20px 20px 20px;
  }
  .width670 {
    width: 100%;
  }
  .gallery .group-item-body .gallery-item {
    margin: 0 20px 20px 20px;
  }
  .group-item-body a {
    width: 100%;
  }
  .gallery .group-item-body .gallery-item img {
    margin: auto;
    width: 100%;
  }
  .products_row .product-item {
      float: none;
      width: 100%;
  }
  #mainbutton .carrier {
      display: flex;
      justify-content: center;
  }
  input.btn, .btn {
    font-size: 14px;
  }
}
@media only screen and (max-width: 620px) and (min-width: 320px) {
  h2 {
    font-size: 26px !important;
  }
  h1 {
    font-size: 28px !important;
  }

  h3 {
    font-size: 24px !important;
  }
  p {
    font-size: 16px !important;
  }
  #mainbutton .colon_fon.mt0 {
    margin-top: 0;
  }
  #topnav .logo, #topnav .phone {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
  }
  #topnav .phone a {
    width: 100%;
    display: block;
    text-align: center;
  }
  #topnav .logo {
    width: 230px;
    margin: 0 auto;
  }
  #topnav .phone a {
    margin-bottom: 30px;
  }
  .bg-page {
    margin-top: 70px;
  }

  #mainbutton a {
    font-size: 14px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  input.btn.icons, .btn.icons {
    padding-left: 20px;
  }
  input.btn i, .btn i {
    display: none;
}
  .menu-toggle {
    top: 15px;
    transform: translateY(0);
    right: 15px;
  }
  #mainbutton .colon_fon {
      margin-top: 75px;
  }
  #mainbutton .colon_fon.mt-60  {
    margin-top: 60px;
  }
  #mainbutton .carrier {
    flex-wrap: nowrap;
  }
  .mob-nav {
    top: 130px;
  }
  #topnav .date {
      left: 0;
  }
  input.btn.btn-small.icons, .btn.btn-small.icons {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 540px) and (min-width: 320px) {
  #contact_form form input:not(.btn), #contact_form form textarea:not(.btn), #contact_form form select:not(.btn) {
    margin-left: 0;
  }
  .review .review-item .body {
    padding: 70px 20px 0;
 }
  .ctabs_carrier {
    padding: 0;
  }
  input.btn.btn-small.icons, .btn.btn-small.icons {
    display: block; 
    text-align: center; 
    padding: 12px 20px 8px;
  }
}
@media only screen and (max-width: 425px) and (min-width: 320px) {
h1 {
  font-size: 22px !important;
}
h2 {
  font-size: 20px !important;
}
  #content .steps .step1, #content .steps .step2, #content .steps .step3 {
      float: none;
      width: 100%;
      margin: 0 20px;
  }

#contenttabs .tab-content .fa, #contenttabs .tab-content .btn {
    width: 100%;
    display: block;
    margin-left: 0;
  }
 #contenttabs .tab-content .fa {
  display: none;
 }
 input.btn.btn-small.icons, .btn.btn-small.icons {
  padding: 5px;
 }
}
@media only screen and (max-width: 388px) and (min-width: 320px){
  .review .review-item-wrapper {
    padding: 20px;
  }
  .review .review-item .title {
    width: 110%;
    left: -15px;
  }
}
@media only screen and (max-width: 340px) and (min-width: 320px){
#mainbutton a {
  padding: 0;
}
}
.slicknav_menu {
	display: none;
	background-color: transparent;
}
.slicknav_nav {
		background-color: #46126d;
    position: fixed;
    display: none;
    right: 0;
    top: 60px;
    bottom: 0;
    width: 360px;
    -webkit-transition: left .4s,opacity .3s;
    -o-transition: left .4s,opacity .3s;
    transition: left .4s,opacity .3s;
    padding: 30px;
}
.slicknav_menu .slicknav_menutxt {
  font-size: 0;
}
.slicknav_btn {
	background-color: transparent;
	outline: none;
	margin-top: 10px;
}
.slicknav_nav ul {
    // margin: 0 0 0 45px;
}
.slicknav_nav .slicknav_row {
	font-size: 24px;
	// border-bottom: 1px solid #fff;
}
.slicknav_nav li, .slicknav_nav ul {
	// border-bottom: 1px solid #fff;
	// margin-left: 0;
}
.slicknav_open ul li {
	// border-bottom: 1px solid #fff;
}
.slicknav_nav .slicknav_row, .slicknav_nav a {
	// padding: 0;
	padding-left: 0;
	margin:0
}
.slicknav_nav li a {
		// margin-left: 45px;
		padding: 15px 20px 15px 0;
		border-bottom: 1px solid #fff;
}
.slicknav_nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    // padding: 15px 20px 15px 0;
    // border: 1px solid #fff;
}
.slicknav_nav .slicknav_row, .slicknav_nav a {
	display: flex;
	justify-content: space-between;
}
.slicknav_nav .slicknav_txtnode {
	font-size: 20px;
	padding: 15px 20px 15px 0;
	margin-left: 0;
	border-bottom: 1px solid #fff;

}
.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #46126d !important;
    color: #fff;
}
.slicknav_nav a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #46126d !important;
    color: #fff;
}
.slicknav_nav .slicknav_row, .slicknav_nav a {
	padding: 15px 20px 15px 0;
}
@media only screen and (max-width: 1284px) and (min-width: 320px) {
  /* #menu is the original menu */
  #menu2 {
    display:none;
  }
  
  .slicknav_menu {
    display: block;
    position: relative;
    z-index: 9999;
  }
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
.slicknav_nav {
  width: 100%;
}
}
@media only screen and (max-width: 620px) and (min-width: 320px) {
.slicknav_nav {
  top: 130px;
}
}
