* {
  box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    // width: 100%;
    height: auto;
}
#content.page  {
  margin-top: 0;
}
.mob-nav::-webkit-scrollbar {
    width: 0;
}
.mob-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 transparent;
}
.mob-nav::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 0 solid transparent;
}
.accordion2 {
  padding-left: 45px;
}
.submenu2 {
  padding-left: 50px;
}
@media only screen and (max-width: 1284px) and (min-width: 320px) {
.width923, .container {
    max-width: 100%;
    margin: 0 auto;
    width: auto;
    padding: 0 20px;
}
#topnav .date {
  right: 70px;
  z-index: 1000;
}
#topnav .phone {
    float: left;
}
#topnav .top-nav {
	display: none;
}
.mb-hidden {
    display: block;
    li {
      padding: 30px;
      border-bottom: 1px solid #46126d;
    }
    a {
      font-size: 20px;
      color: #46126d;
    }
}

.mob-nav { // этот стиль есть в файле menu.scss
	  background-color: #46126d;
	  position: fixed;
    right: -100%;
    top: 60px;
    bottom: 0;
    width: 270px;
    z-index: 15;
    opacity: 0;
    // overflow: hidden;
    -webkit-transition: left .4s,opacity .3s;
    transition: left .4s,opacity .3s;
    padding: 30px;
}

.mob-nav.show {
    right: 0;
    opacity: 1;
}
#topnav .mob-nav li {
    display: block;
}
.menu-toggle {
	display: block;
}
.accordion {
  width: 100%;
  max-width: 360px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 20px 20px 20px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 18px;
}


.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


 /* Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: transparent;
  font-size: 16px;
}



.submenu a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  padding-left: 40px;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}

}
@media only screen and (max-width: 1034px) and (min-width: 320px) {
  .video_col {
    width: 49%;
    margin-bottom: 10px;
  }
  .width980 {
    width: 90%;
    margin: 0 auto;
  }
  #category {
    flex-wrap: wrap;
  }
  #category .category-item {
    width: 49%;
    margin-bottom:10px
  }
  .gallery .group-item-body {
    flex-wrap: wrap;
  }
  .group-item-body a {
    width: 50%;
  }
  input.btn, .btn {
    font-size:18px
  }
  // #content .steps h2 {
  //   font-size: 22px;
  // }

}


@media only screen and (max-width: 768px) and (min-width: 320px) {
	.mob-nav {
		width: 80%;
	}
	.accordion {
	    width: 100%;
	    max-width: 100%;
	}
  .video_col {
    width:100%;
    margin-bottom: 20px;
  }
  #category .category-item {
    width: 100%;
    margin: 0 20px 20px 20px;
  }
  .width670 {
    width: 100%;
  }
  #content .contact .font_top {
    padding-top: 0;
  }
  #content .contact .font_top, 
  #content .contact .font_bottom, 
  #content .contact .font_center,
  .contacts_carrier .fon1,
  .contacts_carrier .fon2,
  .contacts_carrier .fon3 {
    // padding-top: 0;
    // padding-bottom: 0;
    margin: 0;
    background: #fff;
  }
  #content .contact .schem,
  .contacts_carrier .schem {
    width: 100%;
    // height: auto;
    float: none;
    border: none;
  }
  #content .contact .font_center {
    padding: 0;
  }
  #content .contact .text,
  .contacts_carrier .text {
    margin-left: 0;
    text-align: center;
    float: none;
    width: 100%;
  }
  .contacts_carrier .text h3 {
    text-align: center;
  }
  #content .contact .text p strong {
    margin-top: 20px;
    display: block;
  }
  #contact_form form {
    width: 90%;
  }
  #contact_form label {
    width: 100%;
    text-align: center;
    display: block;
    float: none;
    line-height: inherit;
    // margin-bottom: 5px;
}
#contact_form form input:not(.btn), 
#contact_form form textarea:not(.btn), 
#contact_form form select:not(.btn) {
    padding: 10px 10px;
    font-size: 14px;
    width: 100%;
    // margin-top: 5px;
    // margin-left: 0;
    }
.video_carrier {
    padding: 0 15px;
  }
  .contacts_carrier .fon3 {
    padding: 0;
  }
  #content .contact .schem, .contacts_carrier .schem {
    margin-bottom: 20px;
  }
  .gallery .group-item-body .gallery-item {
    margin: 20px;
  }
  .group-item-body a {
    width: 100%;
  }
  .date {
    display: none;
  }
  .products_row .product-item {
      float: none;
      width: 100%;
  }
  #mainbutton .carrier {
      display: flex;
      justify-content: space-between;
  }
  input.btn, .btn {
    font-size: 14px;
  }
}
@media only screen and (max-width: 565px) and (min-width: 320px) {
  #topnav .logo, #topnav .phone {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
  }
  #topnav .phone a {
    width: 100%;
    display: block;
    text-align: center;
  }
  #topnav .logo {
    width: 50%;
    margin: 0 auto;
  }
  #topnav .phone a{
    margin-bottom: 30px;
  }
  .bg-page {
    margin-top: 73px;
  }

  #mainbutton a {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  #mainbutton .colon_fon {
      margin-top: 75px;
  }
  #mainbutton .carrier {
    flex-wrap: wrap;
  }
  .mob-nav {
    top: 135px;
  }
  #contenttabs .tab-content h2 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 540px) and (min-width: 320px) {
  .mob-nav {
    top: 133px;
  }
  #contact_form form input:not(.btn), #contact_form form textarea:not(.btn), #contact_form form select:not(.btn) {
    margin-left: 0;
  }
 }
